h1{
    text-align: center;
    font-size: 35px;
    color: #6b5b95;
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    letter-spacing: 5px;
}
fieldset, legend{
    border: 5px ridge #b8a9c9;
    padding: 5px 10px;
    border-radius: 50px;
}
legend{
    background-color: blanchedalmond;
}
fieldset{
    background-color: azure;
}